
html, body { 
	width: 100%;
	height: 100%;
	font-family: helvetica; 
	overflow-x:hidden;     
	top:0;
    bottom:0;
    left:0;
    right:0;

	background:#F2F2F2;}

img { display: block; margin: 0px; border: none; padding: 0px; }

div { position: absolute; }

mark {
  background-color: #ffffa0;
}

a {
	color: black;
    text-decoration: none;
}

#sadna_2x {
height: 7%;
width: auto;
}


#content-container { 
	width: 90%;
	
	height: 90%;


	 }


#_bg__sadna {
	width: 100%;
	height: 70%;
	display: flex;
    justify-content: center;
    align-items: center;

}

#big_challenges_require_a_small_team_ {
    justify-content: center;
    align-items: center;
	overflow: hidden;
	font-size: 4vmax;
	text-align: left;
	line-height: 6vmax;

}


#group_2 {
    width: 90%;
    height: 22%;
    bottom: 10%;
    
}

#rectangle_3 {
	
	width: 15vmax;
	height: 8vh;
	border: 6px solid #000000;
	font-size: 1.5vmax;
	display: flex;
    justify-content: center;
    align-items: center;
   	position: relative;
    float: right;

	
}

#rectangle_3:hover {
	background:#CAE5E8;

}
